# OS
.DS_Store

# editor
*~

# eclipse
.metadata
Servers/

# java
*.class
bin/
target/
build/

# Package Files #
# *.jar
*.war
*.ear

# logs
*.log

# sensitive data: identity and hosts for distributed downloaders
Scripts/dpool/nodes.csv

